  
/* Remove the default margin and padding from the body. */
body {
    padding: 0;
    margin: 0;
  }
  
  /* Set map, body, and html to 100% of the screen size. */
  #map,
  body,
  html {
    height: 100%;
  }

  a:link {
    color: tab:blue;
    text-decoration: none;
  }

  a:hover {
    color: tab:red;
    text-decoration: none;
  }

  a:visited {
    color: tab:blue;
    text-decoration: none;
  }

  #myChart {
    width: 200px;
    height: 25%;
  }

  .chartjs {
    width: 50%;
    text-align: center;
  }